html {
  font-family: "Graphik Web","Arial","Helvetica",sans-serif;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #ECF0F1;
  color: #555;
  font-size: 13px;
}

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
}

h4 {
  margin-bottom: 5px;
}

h5 {
  font-weight: bold;
  padding-bottom: 3px;
  margin-top: 0;
}

h6 {
  font-weight: bold;
}

.normal-font-weight {
  font-weight: normal;
}

textarea {
  resize: none;
}

p {
   white-space: pre-wrap;
}

.pagination {
  box-shadow: 0 1px 2px #bbb;
}

.pagination>li>a, .pagination>li>span {
    border-right: 1px solid #eee;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #eee;
}

.box-shadow {
  box-shadow: 0 1px 2px #bbb;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.header-right-margin {
  margin-right: -30px;
}

.divider-vertical {
  height: 50px;
  margin: 0 0;
  border-left: 1px solid #eb2239;
}

.body {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 450px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.content-inner-detail {
  border: 1px solid #F5F5F5;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: auto;
  float: none;
  box-shadow: 0 1px 2px #bbb;
}

.badge {
  border: 1px solid #fff;
}

hr {
  border-top: 1px solid #bbb;
}

.user-title {
  padding-bottom: 10px;
}

.profile-sidebar {
  padding: 0;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px #bbb;
}

.profile-userpic {
  position: relative;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  font-size: 18px;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  padding: 10px 20px 0 20px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0;
}
    
.profile-usermenu {
  margin-top: 20px;
  text-transform: uppercase;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #555555;
  font-size: 12px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #ee4054;
  color: #fff;
}

.profile-usermenu ul li.active {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li.active a {
  color: #fff;
  background-color: #ee4054;
}

.panel-notif {
  padding: 0;
}


.notif-body {
  padding: 10px;
}

.popover-notif-body {
  padding: 5px;
}

.panel-profile {
  border: none;
  box-shadow: 0 1px 2px #bbb;
  background: #fff;
}

.panel-title {
  font-size: 14px;
  font-weight: 600;
}

.panel-heading {
  color: #585f69;
  background: #fff;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #eee;
}

.panel-activities {
  height: 500px;  
  padding-right: 5px;
}

.overflow-h {
    overflow: hidden;
}

.post-container {
  padding: 0 10px 0 10px;
}

.posts-content {
  border-radius: 4px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px #bbb;
}

.posts-share {
  overflow: hidden;
  background: #fff;
  padding: 8px 8px 8px 12px;
  border-top: 1px solid #eee;
  margin-top: -5px;
}

.posts-share ul {
  margin-bottom: 0;
}

.post {
  padding: 8px 8px 0 12px;
}

.post-date {
  font-size: 12px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-title {
  min-height: 30px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-info {
  font-size: 12px;
}

.post-info > li {
   width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.easy-block-v1 {
  position: relative;
  height: 150px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  background-color: #eee;
}

.easy-block-v1 img {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.easy-block-v1 .overflow-h h3 {
  width: 60%; 
  float: left;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
}

.easy-block-v1 .easy-block-v1-badge {
  left: 0px;
  top: 10px;
  z-index: 1;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
}

.social-contacts-v2 {
  margin-bottom: 0;
}

.social-contacts-v2 li {
  padding: 7px 0;
  border-top: 1px solid #f0f0f0;
}

.social-contacts-v2 li:first-child {
  border-top: none;
}

.profile .social-contacts-v2 li i {
  font-size: 16px;
  min-width: 25px;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
}

.social-contacts-v2 li i.tw {
  color: #159ceb;
}
.social-contacts-v2 li i.fb {
  color: #4862a3;
}
.social-contacts-v2 li i.sk {
  color: #00aceb;
}
.social-contacts-v2 li i.gp {
  color: #dc4a38;
}
.social-contacts-v2 li i.gm {
  color: #c6574b;
}

.label-name {    
  display: block;
  margin-right: 30px;
  width: 100px;
  float: left;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

.profile-form-control {
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.post-label {
  margin-right: 5px;
  width: 10px;
}

.dropzone {
  border: 2px dashed #ee4054;
}

.carousel-control {
  top: 50%;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.comment-body {
  border-top: 1px solid #eee;
  padding: 10px;
}

.comment-name {
  margin-bottom: 7px;
  font-size: 12px;
}

.comment-content {
  font-size: 12px;
  margin-top: 3px;
}

.comment-button {
  margin-top: 9px;
}

.notif-circle {
  color: red;
  background-color: #fff;
}

.comment-load {
  margin-top: 8px;
}

.like-btn-group {
  margin-top: 10px;
}

.my-thumbnail {
  margin-bottom: 0;
  padding:0;
  border: none;
}

.update-profile-pic {
  visibility: hidden; 
  text-align:center; 
  background-color: #ee4054; 
  color: #fff;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

.update-profile-pic a {
  color: #fff;
}

#profile-pic:hover .update-profile-pic {
  visibility: visible; 
}

.rounded { border-radius: 4px !important;}
.rounded-x { border-radius: 50% !important;}
.rgba-red { background-color: rgba(231,76,60,0.8);}
.rgba-blue{ background-color: rgba(52,152,219,0.8);}
.rgba-aqua { background-color: rgba(39,215,231,0.8);}
.rgba-yellow { background-color: rgba(241,196,15,0.8);}
.rgba-default { background-color: rgba(114,192,44,0.8);}
.rgba-purple { background-color: rgba(155,107,204,0.8);}
.rgba-dark-grey { background-color: rgba(60,63,64,0.9); }
.color-dark { color: #555555;}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:500px;
  margin: 15px auto;
}

.modal-header {
  background-color: #ee4054;
  color: #fff;
}

.transfer-box {
    margin-bottom: 5px;
}

.transfer-box .progress {
    margin-bottom: 0;
}

.gallery-box {
  min-height: 150px;
  padding: 7px;
  border: 1px solid #ddd;
  overflow: hidden;
  text-align: center;
}

.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 130px;
    margin-bottom: 10px;
}

.gallery-box .thumbnail img {
    height: 120px;
}

.gallery-box .title {
    height: 22px;
    display: block;
}

.post-photos {
  padding-bottom: 0; 
  padding-top: 30px; 
  padding-left: 20px;
  min-height: 600px
}

.blank-thumbnail {
  border-color: #ddd;
  background-color: #ddd;
}

.upload-thumbnail {
  cursor: pointer; 
  background-color: #FFF0F5; 
  border-color: #FFF0F5;
  text-align: center;
}

.carousel-thumbnail {
  padding: 0;
  margin: 20px 0 0 0 ;
  display: block;
}

.carousel-thumbnail li {
  list-style: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  padding-right: 10px;
}

.search-header {
  padding-bottom: 10px;
}

.small-text {
  font-size: 10px;
}

.search-categories {
  list-style: none;
  padding-left: 5px;
  margin-bottom: 0;
}

.search-categories > li {
  padding-bottom: 5px;
}

.unfollow-btn:hover {
  background-color: #428bca;
  color: #fff;
  border-color: #285e8e;
}

.unfollow-btn:hover:before {
  content: 'Unfollow';
}

.unfollow-btn:before {
  content: 'Following';
}

.follow-btn {
  width: 100px;
}

.badge-count {
  background-color: #ee4054;
  color: #fff;
  border-color: #ec293f;
}

.follow-user {
  height: 180px;
}

.follow-user img {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

#lightSlider {
  height: 360px;
}

#lightSlider > li {
  text-align: center;
  overflow: hidden;
}

.sliderContainer > .lSSlideOuter > .lSSlideWrapper {
  height: 360px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #e6152d;
  border-color: #ec293f;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

.header-search {
  display: block;
}

@media (max-width: 768px) {
   body {
    padding-top: 0;
    padding-bottom: 0;
  }


  .header-search {
    display: none;
  }

  .container {
    padding: 0;
  }

  .container-body .body {
    padding: 0;
  }

  .nav>li {
    position: relative;
    display: block;
    border-top: 1px solid #fff;
  }

  .divider-vertical {
    visibility: hidden;
    height: 0px;
  }

  .header-right-margin {
    margin-right: 0px;
  }

  .navbar-form {
    width: auto;
  }

  .navbar-collapse {
    border-top: none;    
    box-shadow: none;
    padding-right: 0;
  }

  .navbar-toggle {
    height: 39px;
  }

  .navbar-form {
    margin-bottom: 0;
    margin-top: 0;
  }

  .navbar-header > button {
    margin-right: 5px;
  }

  .no-left-padding {
    padding-left: 15px;
  }

  .left-message-header {
    text-align: center;
  }

  .body {
    padding-top: 0;
  }

  .message-box-container {
    margin-top: -17px;
  }

 .notif-pos {
    margin-left: -8px;
  } 
}

.profile-btn {
  margin-bottom: 5px;
}

.popover.bottom {
  margin-top: 0;
}

.popover-content {
  padding: 0;
}

.popover {
  width:240px;
}

.notif-item {
  font-size: 11px;
  margin: 0;
  padding: 8px;
  color: #555;
}

.center {
  text-align: center;
}

.center-image {
  margin: auto auto;
  vertical-align: middle;
}

.notif-unread {
  border-left: 4px solid red; 
}

.media-heading {
  font-size: 13px;
}

.sm-media-body {
  font-size: 12px;
}

.div-link {
  color: #555;
}

.div-link:hover {
  color: #555;
}

.conversation-wrap {
  border-right: 1px solid #f0f4f7;
  padding:0;
  max-height: 400px;
  overflow: auto;
  background-color: #fff;
  min-height: 774px;
}

.message-wrap {
  padding:0;
  background-color: #fff;
  overflow: auto;
}

.message-body {
  border-bottom: 1px solid #f0f4f7;
}

.msg {
    padding:5px;
    margin:0;
}

.msg-wrap {
  height: 647px;
  overflow: auto;
  position: relative;
}

.time {
  color:#bfbfbf;
  font-size: 11px;
}

.send-wrap {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:10px;
    /*background: #f8f8f8;*/
}

.msg-date {
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}

.right-align {
  text-align: right;
}

.media-border {
  border-bottom: 1px solid #f0f4f7;
}

.media-padding {
  padding: 10px;
  margin-top: 0;
}

.media:last-of-type {
  border-bottom: none;
}

.dark-link {
  color: #555;
}

.white-link {
  color: #fff;
}

.white-link:hover {
  color: #fff;
}

.dark-link:hover {
  color: #555;
}

.dark-link:hover > div {
  background-color: #f0f4f7;
}

.dark-link-active > div {
  background-color: #f0f4f7;
}

.no-margin {
  margin: 0;
}

.message-bubble {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #f0f4f7;
  border-radius: 7px;
}

.my-message {
  background-color: #f0f4f7;
}

.send-div {
  padding-top: 20px;
}

.send-input {
  /*border-radius: 0;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;*/
}

.send-btn {
  /*border-radius: 0;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;*/
  width: 60px;
}

.message-header {
  border-bottom: 1px solid #f0f4f7;
  padding: 10px;
  height: 55px;
}

.message-box {
  padding: 10px;
  border-top: 1px solid #f0f4f7;
}

.convo-user {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.convo-user:hover {
  text-decoration: none;
  color: #555;
}

.no-top-border {
  border-top: none;
}

.no-bottom-border {
  border-bottom: none;
}

.to-align {
  margin-top: 7px;
}

.autocomplete-suggestion {
  padding: 5px;
  border-bottom: 1px solid #f0f4f7;
}

.autocomplete-suggestion a {
  color: #555;
}

.autocomplete-name {
  margin-left: 10px; 
  color: #555
}

.message-box-wrapper {
  position: absolute;
  bottom: 0;
  overflow: auto;
}

.unread-message {
  border-left: 4px solid red; 
}

.notif-new {
  border-top: 2px solid red; 
  padding: 10px;
}

.notif-pop {
  margin-left: 5px;
}

.media-body > strong, 
.media-body > p, 
.media-body > span {
    word-break: break-word;
}

.post-image {
  max-height: 365px;
}

.mobile-header-button {
  margin-right: 4px;
}

.no-border-radius {
  border-radius: 0;
}

.red-link {
  color: #ee4054;
}

.post-carousel {
  height: 420px;
  border: 1px solid #F5F5F5;
  background-color: #eee;
  box-shadow: 0 1px 2px #bbb;
}

.post-carousel-item {
  height: 430px;
}

.post-carousel-container {
  padding-bottom: 15px;
}

.terms-para {
  margin-bottom: 20px;
  text-align: justify;
}